version: "3.9"

services:

  # ============================
  # MYSQL DATABASE
  # ============================



  mysql:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    environment:

      MYSQL_ROOT_PASSWORD : rootpassword



    ports:
      - "3307:3306"
    volumes:
      - mysqldata:/var/lib/mysql
    command: [
      "--default-authentication-plugin=mysql_native_password",
      "--character-set-server=utf8mb4",
      "--collation-server=utf8mb4_unicode_ci"
    ]
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -proot"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - network-service

  # ============================
  # USER SERVICE
  # ============================
  user-service:
    build:
      context: ./user
      dockerfile: Dockerfile
    container_name: user-container-main
    depends_on:
      mysql:
        condition: service_healthy

    environment:


      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-container:3307/userdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: user



    ports:

      - "8091:8081"
    networks:
      - network-service

  # ============================
  # Product Service
  # ============================
  product-service:
    build:
      context: ./product
      dockerfile: Dockerfile
    container_name: product-container-main
    depends_on:
      mysql:
        condition: service_healthy
      user-service:
        condition: service_started
    ports:
      - "8092:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-container:3307/product?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: user

    networks:
      - network-service

# ============================
# NETWORK & VOLUME
# ============================
networks:
  network-service:

volumes:
  mysqldata: